:root {
   --primary: #ff7300;
   --secondary: #2a3eb1;
}

* {
   padding: 0;   
   margin: 0;
}

html {
   width: 100vw;
   height: 100vh;
}

body {
   width: 100%;
   height: 100%;
}

header {
   width: 100%;
   height: 60px;
   background-color: var(--primary);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header #normal, header #mobile {
   display: none;
}

header #user {
   display: flex; 
   gap: 10px;
   align-items: center;
   color: white;
   font-size: 1.5rem;
   font-family: Verdana, sans-serif;
   text-decoration: underline solid white;
}

header #user svg {
   margin-right: 10px;
}

nav {
   display: flex;
   flex-direction: column;
   color: black;
   align-items: center;
}

nav div{
   height: 50px;
   width: 100px;
   display: flex;
   align-items: center;
   font-size: 1.2rem;
   font-family: Verdana;
}

nav div:first-child {
   margin-top: 50px;
}

nav div:hover {
   background-color: var(--secondary);
   cursor: pointer;
   color: white;
}

#main-area {
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#admin-utils {
   height: 100px;
   width: 80%;
   max-width: 1500px;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 200px 1fr 140px;
   border: 5px solid var(--secondary);
   border-radius: 25px 25px 0px 0px;
   background-color: var(--secondary);
}

#admin-utils #buttons {
   justify-self: center;
   align-self: center;
   margin-right: 10px;
}

#admin-utils #buttons button {
   width: 40px;
   height: 40px;
   font-size: 1.2rem;
   font-weight: bolder;
   background-color: white;
   border: 1px solid black !important; 
   box-shadow: 0px 0px !important;
   margin-right: 5px;
}

#admin-utils #buttons button:hover {
   cursor: pointer;
}

#admin-utils h1 {
   justify-self: center;
   align-self: center;
   color: white;
   height: 35px;
   display: flex;
   align-items: center;
}

#admin-utils #search-bar {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

#admin-utils #search-bar input[type="text"] {
   width: calc(100% - 100px);
   height: 40px;
   font-size: 1.5rem;
   border: 1px solid black;
   border-radius: 10px;
   padding-left: 15px;
   padding-right: 5px;
}

#table-area {
   width: 80%;
   max-width: 1500px;
   height: 80%;
   border: 5px solid var(--secondary);
   overflow: scroll;
}

#table-area .item {
   width: 100%;
   border-collapse: collapse;
}

#table-area .item td,th{
   height: 50px;
   text-align: start;
   border: 1px solid black;
   padding-left: 15px;
}

#table-area .item .tag, #table-area .item .edit {
   height: 51px;
   background-color: var(--secondary);
   color: white;
   font-size: 1.3rem;
   border: 0px solid black;
   border-left: 1px solid black;
}

#table-area .item .edit {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

#table-area .item .edit button {
   background-color: white;
   border: 1px solid black;
   border-radius: 25px;
   margin-right: 30px;
   width: 200px;
   height: 40px;
}

#table-area .item .edit button:hover {
   cursor: pointer;
}

.form {
   position: absolute;
   background-color: white;
   width: 500px;
   display: none;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   box-shadow: 0px 0px 2px 2px black;
   padding: 80px 0px;
}

.form input[type="text"], .form input[type="password"] {
   width: 80%;
   height: 30px;
   padding-left: 10px;
}

.form input[type="date"] {
   width: 80%;
   height: 30px;
}

.input-file {
   width: 50%;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border: 0.5px solid black;
   cursor: pointer;
   border-radius: 20px;
}

.form input[type="button"] {
   height: 50px;
   width: 80%;
   margin-top: 20px;
   border: 1px solid black;
   border-radius: 25px;
   background-color: var(--primary);
   color: white;
   font-size: 1.2rem;
   font-weight: bolder;
}

.form input[type="button"]:hover {
   cursor: pointer;
}

.form .close {
   width: 30px;
   height: 30px;
   position: absolute;
   top: 30px;
   right: 20px;
   color: red;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: arial;
   font-weight: bolder;
   font-size: 1.5rem;
}

.form .close:hover {
   background-color: #eeeeee;
   cursor: pointer;
}

/*breakpoint t1*/
@media (max-width: 600px) {
   body {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: var(--primary);
   }
   nav {
      width: calc(100% - 20px);
      height: calc(100% - 110px);
      background-color: white;
      border: 0px solid white;
      border-radius: 20px;
      display: none;
      gap: 20px;
   }
   nav div {
      box-shadow: black 0px 0px 1px 2px;
      padding: 0px 100px;
   }
   header #mobile {
      display: flex;
      height: 100%;
      align-items: center;
   }
   header #mobile svg {
      margin-left: 10px;
   }
   header #mobile svg:hover {
      cursor: pointer;
   }
   #main-area {
      width: 100%;
      height: calc(100% - 60px);
   }
   #admin-utils #search-bar input[type="text"] {
      width: calc(100% - 50px);
   }
   .form {
      width: 350px;
   }
   #table-area {
      max-height: 600px;
   }
}

@media (min-width: 601px) {
   body {
      display: grid;
      grid-template-rows: 60px 1fr;
      grid-template-columns: 200px 1fr;
   }
   header {
      grid-row: 1;
      grid-column: 1 / span 2;
   }
   header #normal {
      display: flex;
      width: 50%;
      height: 100%;
      align-items: center;
      gap: 20px;
   }
   header #normal #logo {
      border: 1px solid white;
      border-radius: 0px 50% 50% 0px;
      background-color: white;
      padding: 0px 10px 0px 10px;
   }
   header #normal #home-icon:hover {
      cursor: pointer; 
   }
   nav {
      grid-row: 2;
      background-color: var(--primary);
      text-decoration: underline;
   }
   nav div {
      padding: 0px 50px;
   }
   #main-area {
      width: calc(100% - 10px);
      grid-row: 2;
      grid-column: 2;
      border-right: 10px solid var(--primary);
      border-bottom: 10px solid var(--primary);
   }
   #table-area {
      max-height: 80vh;
   }
}

/* breakpoint t2 */
@media (max-width: 850px) {
   #admin-utils {
      grid-template-columns: 1fr 100px;
   }

   #admin-utils h1 {
      display: none;
   }

   #admin-utils #search-bar {
      grid-row: 1;
      grid-column: 1;
   }

   #admin-utils #buttons {
      grid-row: 1;
      grid-column: 2;
   }

   #admin-utils #buttons button {
      width: 30px;;
      height: 30px;
      margin: 0;
   }
}

@media (min-width: 851px) {
   #admin-utils h1 {
      grid-row: 1;
      grid-column: 1;
   }

   #admin-utils #search-bar {
      grid-row: 1;
      grid-column: 2;
   }

   #admin-utils #buttons {
      grid-row: 1;
      grid-column: 3;
   }
}
